<div>
    <!-- Dashboard beállítások -->
    <cost-tracker-dashboard-settings (periodChangeEmit)="ngOnInit()"></cost-tracker-dashboard-settings>
    <!-- /Dashboard beállítások -->

    <!-- Dashboard kártyák -->
    <div class="row g-0 mx-2 my-3 ">
        <ng-container *ngFor="let card of cardList; let i = index;">
            <cost-tracker-dashboard-card
                *ngIf="card.isActive"
                class="col-12 col-sm-6 col-md-6 col-lg"
                [color]="card.type == 1 ? 'rgb(252, 3, 36)' : 'rgb(42, 150, 222)'"
                [iconClass]="card.type == 1 ? 'fas fa-coins' : 'fas fa-credit-card'"
                [name]="card.name"
                [sum]="(i + 1) % 2 == 0 ? (cardList[i - 1].value + card.value) : cardList[i + 1].value"
                [value]="card.value">
            </cost-tracker-dashboard-card>
        </ng-container>
    </div>
    <!-- /Dashboard kártyák -->

    <!-- Charts -->
    <cost-tracker-dashboard-charts
        [costWithCategories]="costWithCategories"
        [incomesWithCategories]="incomesWithCategories"
        [activeYearCost]="costRecordList"
        [activeYearIncome]="incomeRecordList">
    </cost-tracker-dashboard-charts>
    <!-- /Charts -->
</div>