<div class="card border-0 shadow my-5">
    <div class="card-body">
        <h3 class="mt-3 mb-5">
            <strong>
                <i class="fas fa-lock me-2"></i>
                Jelszó módosítás
            </strong>
        </h3>

        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="row">
                <!-- Régi jelszó -->
                <div class="col-12 col-sm-5 pt-2 mb-3">
                    <strong class="text-muted">Régi jelszó:</strong>
                </div>
                <div class="col-12 col-sm-7 mb-3">
                    <input 
                        type="password" 
                        id="old-password" 
                        class="form-control bg-light-grey"
                        formControlName="oldPassword"
                        placeholder="*****"
                        (input)="isOldPasswordNotMatch = false"
                        [ngClass]="formValidatorService.isMinLengthInvalid('oldPassword') || isOldPasswordNotMatch ? 'border-danger' : 'border-0'">

                    <!-- Régi jelszó error üzenetek -->
                    <div *ngIf="formValidatorService.isMinLengthInvalid('oldPassword')" class="text-end text-danger small">
                        <small>*A jelszónek legalább 5 karakterből kell állnia!</small>
                    </div>

                    <div *ngIf="isOldPasswordNotMatch" class="text-end text-danger small">
                        <small>*A régi jelszó nem egyezik meg a jelenlegi jelszóval!</small>
                    </div>
                    <!-- /Régi jelszó error üzenetek -->

                </div>
                <!-- /Régi jelszó -->
                
                <!-- Új jelszó -->
                <div class="col-12 col-sm-5 pt-2 mb-3">
                    <strong class="text-muted">Új jelszó:</strong>
                </div>
                <div class="col-12 col-sm-7 mb-3">
                    <input 
                        type="password" 
                        id="new-password" 
                        class="form-control bg-light-grey"
                        formControlName="newPassword"
                        placeholder="*****"
                        [ngClass]="formValidatorService.isMinLengthInvalid('newPassword') ? 'border-danger' : 'border-0'">

                    <!-- Új jelszó error üzenetek -->
                    <div *ngIf="formValidatorService.isMinLengthInvalid('newPassword')" class="text-end text-danger small">
                        <small>*A jelszónek legalább 5 karakterből kell állnia!</small>
                    </div>
                    <!-- /Új jelszó error üzenetek -->

                </div>
                <!-- /Új jelszó -->

                <!-- Új jelszó megerősítése-->
                <div class="col-12 col-sm-5 pt-2 mb-3">
                    <strong class="text-muted">Új jelszó megerősítése:</strong>
                </div>
                <div class="col-12 col-sm-7 mb-3">
                    <input 
                        type="password" 
                        id="confirm-new-password" 
                        class="form-control bg-light-grey"
                        formControlName="confirmNewPassword"
                        placeholder="*****"
                        [ngClass]="(
                            formValidatorService.isMinLengthInvalid('confirmNewPassword') 
                            || formValidatorService.isNotSamePassword('confirmNewPassword')) 
                            ? 'border-danger' : 'border-0'">

                    <!-- Új jelszó megerősítésének error üzenetei -->
                    <div *ngIf="formValidatorService.isMinLengthInvalid('confirmNewPassword')" class="text-end text-danger small">
                        <small>*A jelszónek legalább 5 karakterből kell állnia!</small>
                    </div>

                    <div *ngIf="formValidatorService.isNotSamePassword('confirmNewPassword')" class="text-end text-danger small">
                        <small>*A jelszavak nem egyeznek meg!</small>
                    </div>
                    <!-- /Új jelszó megerősítésének error üzenetei -->

                </div>
                <!-- /Új jelszó megerősítése-->
            </div>

            <div class="mt-4 text-end">
                <button type="submit" class="btn btn-success" [disabled]="!formGroup.valid">Mentés</button>
            </div>
        </form>
    </div>
</div>