.icon-items {
    max-width: 352px !important;
    /* width: 100% !important; */
    height: 250px;
    overflow: auto;
    border: solid 1px black;
    padding: 4px;
}

i {
    width: 35px;
    height: 32px;
}