.card {
    max-width: 270px;
    width: 100%;
}

.value {
    right: 0%;
    top: 20px;
    font-size: 13px;
}

.icon {
    text-align: center;
    width: 35px;
    height: 32px;
}

.options {
    i {
       font-size: 12px;
    }
    
    top: -15px;
    right: -10px;
}

.progress-bar {
    transition: 0.9s ease-in !important;
}